:root {
    --blue: #2F80ED;
    --gray: #D8D8D8;
    --red: #EB5757;
    --green: #27AE60;
    --yellow: #ffffb2;
}

body{
    font-family: 'Montserrat', sans-serif;
}
.pre-header{
    margin-top: 20px;
}
p{
    margin-bottom: 0px;
}
.title{
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    padding-top: 30px;
    color: var(--blue);
}
.info{
    margin-left: auto;
    font-size: 13px;
}
img{
    margin-top: 30px;
}

nav{
    margin-top: 10px;
    background-color: var(--gray);
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    z-index: 5;
}
a{
    font-size: 20px;
    color: #828282;
}
a:hover{
    color: var(--blue);
    text-decoration: none;
}
.submenu{
    font-size: 12px;
    padding-right: 3%;
    color: black;
}
.active{
    color: var(--blue);
}
span{
    color: var(--red);
    
}
.fixed {
    position:fixed; 
    top:0;
    left:0;
    margin-top: 0px;
}
.first{
    margin-top: 40px;
}
.title-principle{
    color: var(--blue);
    text-align: center;
    font-size: 34px;
}
.text-test{
    margin-top: 40px;
    margin-bottom: 0px;
}
.subtitles{
    color: var(--blue);
    font-size: 28px;
    text-align: center;
    background-color: var(--gray);
    width: 100%;
    border-bottom: 2px solid var(--green);
    border-top: 2px solid var(--green);
    padding-top: 5px;
    padding-bottom: 5px;
}
.left {
    float:left;
    padding-left: 15px;
    padding-bottom: 20px;
}
.right {
    float:right;
    margin-left: auto;
    padding-right: 15px;
    padding-bottom: 15px;
}
.left img, .right img{
    margin-top: 0px;
}
.access-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}
.first-row{
    padding-bottom:50px; 
    padding-top:30px;
}
.rep{
    padding-bottom:50px; 
    padding-top:30px;
}
.wcag-div{
    padding-bottom: 50px;
}
.anchor-parallax{
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: -104px;
}
.anchor-parallax2{
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: -104px;
}
.red{
    color:#2F80ED;
}
.ancor-parallax3{
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: -104px;
    
}
.span-up{
    width:60px;
    position:fixed;
    top:87%;
    right: 2%;
    z-index:3;
    display: none;
}
.span-up a{
    color:red;
}
.title-section{
    color: var(--blue);
    margin: 0 auto;
    width: 37%;
    text-align: center;
    border-left: 5px solid var(--green);
    margin-top: 25px;
    font-weight: 700;
}
.title-section2{
    color: var(--blue);
    margin: 0 auto;
    width: 24%;
    text-align: center;
    border-left: 5px solid var(--green);
    margin-top: 25px;
    font-weight: 700;
}
.title-section3{
    color: var(--blue);
    margin: 0 auto;
    width: 13%;
    text-align: center;
    border-left: 5px solid var(--green);
    margin-top: 25px;
    font-weight: 700;
}
.first-title{
    color:#2F80ED;
}
.second-p{
    color:var(--blue);
}

.wcag-title{
    color: black;
    padding-top: 20px;
    font-size: 28px;
    text-decoration: underline;
}
.wcag-section{
    border-left: 5px solid var(--blue);
    font-size: 16px;
    padding-left: 10px;
    
}
.wcag-text{
   padding-top: 0px;
}
.wcag-point{
    font-size: 20px; 
    padding-right: 10px; 
    color: var(--blue); 
}
.wcag-verifica{
    color:var(--red); 
    background-color:var(--gray); 
    padding-left: 10px;
    margin-top: 10px;
}
.wcag-verifica2{
    color:var(--green); 
    background-color:var(--gray); 
    padding-left: 10px;
    margin-top: 10px;
}
.wcag-verifica3{
    color:orange; 
    background-color:var(--gray); 
    padding-left: 10px;
    margin-top: 10px;
}

.focus-menu-analisi{
    position: absolute;
    margin-top: -70px;
    
}
.wcag-codice{
    border:3px solid black; 
    width: 950px;
    margin-left:15px;
}
code{
    color: black !important;
}
.red{
    color: var(--red) !important;
    font-size: 20px;
    margin-top: 0px !important;
}
.green{
    color: var(--green) !important;
    font-size: 20px;
    margin-top: 0px !important;
}
.yellow{
     color: orange!important;
    font-size: 20px;
    margin-top: 0px !important;
    
}
.introduzione2{
    position: absolute;
    margin-top: -35px;
}
.paragraph{
    margin-top: 25px;
}
.stacco{
    margin-top: 30px;
}
.end-point{
    border-bottom: 3px solid var(--gray);
}
.wcagaa{
    position: absolute;
    margin-top: -70px;
}
.title-test{
    color: var(--blue) !important;
}
.boldato{
    font-weight: bold !important;
    font-family: sans-serif;
}
.pdf{
    color: var(--blue);
    text-decoration: underline;
}
.fine{
    padding-bottom: 10px;
    border-bottom: 5px solid var(--gray);
}
.blue{
    color: var(--blue);
}
table, th, td {
    border: 2px solid var(--gray);
    text-align: center;
}
th{
    width: 20%;
}
tabella th{
    width: 40%;
}
.activemenu{
    color: var(--blue) !important;
}
#intro{
    position: absolute;
    margin-top: -40px;
}









footer{
    border-top: 5px solid var(--green);
    background-color: var(--gray);
    padding-bottom: 30px;
}
.validation{
    margin-left: auto;
    margin-right: -5px;
}
#p-footer{
    margin-top: 30px;
    margin-bottom: 5px;
}
.validate-img{
    padding-top: 0px;
    margin-top: -25px;
}
.submenu-footer a{
    font-size: 18px;
    padding-right: 8%;
    color: black;
}
.submenu-footer a :hover{
    color: var(--blue);
}
.end-footer{
    margin-top: 37px;
}
.reserved-footer{
    font-size: 15px;
    text-align: left;
    color: black;
    margin-top: 40px;
}
.tecnologies{
    padding: 0px;
}
.tecnologies img{
    padding-right: 3%;
    margin-top: 0px;
}
.developed{
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: -12px;
    color: var(--blue);
}
.img-uniud-footer{
    margin-top: -22px;
}



@media only screen and (max-width: 1200px) {
    .anchor-parallax{
        width: 10px;
        height: 10px;
        position: absolute;
        margin-top: -128px;
    }
    .anchor-parallax2{
        width: 10px;
        height: 10px;
        position: absolute;
        margin-top: -128px;
    }
    .ancor-parallax3{
        width: 10px;
        height: 10px;
        position: absolute;
        margin-top: -128px;    
    }
    
}
@media only screen and (max-width: 768px) {
    
    .img-uniud-footer{
        display: none;
    }
    .validation{
        margin-top: 60px;
        margin-right: 0px;
    }
}
@media only screen and (max-width: 768px) {
    .anchor-parallax{
        width: 10px;
        height: 10px;
        position: absolute;
        margin-top: -212px;
    }
    .anchor-parallax2{
        width: 10px;
        height: 10px;
        position: absolute;
        margin-top: -212px;
    }
    .ancor-parallax3{
        width: 10px;
        height: 10px;
        position: absolute;
        margin-top: -212px;    
    }
    .reserved-footer{
        margin-left: 0px;
    }
    .title-section{
        width: 100%;
    }
}

